body{
    background: grey;
}

.trafic-top{
    background: black;
     width: 10px;
    height: 75px;
    margin-left: 50px;
}
.container{
    background: black;
    width: 90px;
    height: 200px;
    padding: 10px;
    border-radius: 15px;
   
}
.light{
    
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 8px;
    margin:auto;
    cursor: pointer;
    &.red{background: red;}
    &.yellow{background: yellow;}
    &.green{background: green;}
    &.selected{box-shadow: rgb(151, 151, 110) 0px 0px 50px 20px;}
   
}
